.manager-problem-focus-view{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.manager-problem-focus-view .focus-view-language-list{

}
